#hero {
  width: 100%;
  height: 400px;
  animation-name: headline;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: aliceblue 1px solid;
  color: rgb(65, 64, 70);
}

.myname {
  margin-left: 450px;
  font-size: 35px;
  animation-name: forname;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: left;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.name {
  font-size: 30px;
}

p {
  margin-left: 450px;
  font-size: 25px;
}

@keyframes forname {
  0% {
    color: #add9d8;
  }
  20% {
    color: #6cc5be;
  }
  40% {
    color: #73c7da;
  }
  60% {
    color: #76b2d8;
  }
  80% {
    color: #67859c;
  }
  100% {
    color: #add9d8;
  }
}

@keyframes headline {
  0% {
    background-image: url(sky2.jpg);
    width: 100%;
  }
  50% {
    background-image: url(cloud2.jpg);
    width: 100%;
  }
  100% {
    background-image: url(top2.jpg);
    width: 100%;
  }
}

.asider {
  background-color: rgb(160, 173, 185);
  height: 1765px;
  width: 200px;
  float: left;
  padding: 5px;
  color: aliceblue;
}
.content {
  background-color: rgb(255, 255, 255);
}
.footer {
  background-color: rgb(119, 119, 119);
  color: ghostwhite;
  text-align: center;
  clear: both;
  padding: 5px;
}
body {
  border-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: aliceblue 1px solid;
}
img {
  max-width: 400px;
  padding-left: 150px;
}
li {
  font-size: 40px;
  margin-left: 30px;
  color: rgb(110, 113, 121);
  background-color: rgb(187, 187, 187);
}
.image-container {
  display: grid;
  max-width: px;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: auto;
  grid-gap: 5px;
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  img {
    max-width: 150px;
    padding-left: 80px;
  }
  li {
    font-size: 20px;
  }
  .asider {
    height: 800px;
    width: 50px;
    font-size: 10px;
  }
  .info {
    margin-left: 5px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  img {
    max-width: 300px;
    padding-left: 100px;
  }
  .asider {
    height: 1500px;
    width: 180px;
  }

  .myname {
    margin-left: 30px;
  }

  p {
    margin-left: 30px;
  }
}
